@{
    ViewData["Title"] = "Home Page";
}

<h3>Covid and Car Crashes</h3>

<div class="my-form-group">
    <label for="date">Choose first date:</label>
    <input type="date" id="date1" value="2020-01-01" min="2020-01-01" max="2020-12-31">

   <label for="date">Choose last date:</label>
    <input type="date" id="date2" value="2020-12-31" min="2020-01-01" max="2020-12-31">
</div>

<div class="my-form-group">
    <label for="state">Choose state:</label>
    <select id="statedd" name="State"></select>

    <label for="intersection">Where was the crash:</label>
    <select id="intersectiondd" name="Intersection"></select>
</div>

<div class="my-form-group">
    <label for="crashType">Choose crash type:</label>
    <select id="crashTypedd" name="CrashType"></select>
</div>

<button onclick="GenerateTable()">Generate Table</button>

<div id="output-div"></div>
